---
import { cx } from "@/utils/cx";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class={cx(
    "flex items-center space-x-1",
    "text-pretty text-xs font-medium",
    "px-1",
    "bg-orange-800",
    "border border-orange-500 rounded-md",
    className,
  )}
>
  <slot />
</div>
