{
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 150,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "strict"
}
