@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Fonts: */
@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: GeistMono;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/GeistMonoVF.woff2") format("woff2");
}
