---
import { getCollection } from "astro:content";
import { cx } from "@/utils/cx";

import SidebarContent from "./sidebar-content";

const allDocs = await getCollection("docs");
const pathname = new URL(Astro.request.url).pathname;
---

<aside
  class={cx(
    "xl:flex fixed h-full border-r border-gray-800"
  )}
>
  <div
    class="px-2 overflow-y-auto bg-gray-900 py-5 pr-3" 
  >
    <SidebarContent client:only="react" docs={allDocs} pathname={pathname} />
  </div>
</aside>

