---
import { getCollection } from "astro:content";
import { cx } from "@/utils/cx";

import SidebarContent from "./sidebar-content";

const allDocs = await getCollection("docs");
const pathname = new URL(Astro.request.url).pathname;
---

<aside
  class={cx(
    "hidden xl:translate-x-0",
    "xl:flex max-w-[267px]",
  )}
>
  <div
    class="h-full px-2 py-2 overflow-y-auto bg-gray-900"
  >
    <SidebarContent client:only="react" docs={allDocs} pathname={pathname} />
  </div>
</aside>
